<p>Cerveja Escolhida: <label><%= @order.beer.name %> <%= @order.beer.bootle_size %></label></p>
<p>Preço Unitário: <label id="beer_price">R$ <%= sprintf('%.2f',@order.beer.price) %></label></p>
<p>Quantidade Disponível: <label id="available" ><%= @order.beer.available_quantity %></label></p>
<input type="hidden" id="beer_id" value="<%= @order.beer.id %>" />

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :customer_name, "Nome" %><br>
    <%= f.text_field :customer_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email pessoal" %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :phone_number, "Telefone" %><br>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :quantity, "Quantidade" %><br>
    <select id="order[quantity]" name="order[quantity]" class="form-control" >
        <% for i in 1..@order.beer.maximum_order_amount %>
	   <option value="<%= i %>"><%= i %></option>
	<% end %>
    </select>
  </div></br>
  <div class="field">
	<label>Total: R$ </total>
	<label id="total_price"><%= sprintf('%.2f',@order.beer.price) %></total>
  </div>
  <div class="field">
    <input type="hidden" name="order_beer_id" id="order_beer_id" value="<%= @order.beer.id %>" />
  </div><br />
  <div class="actions">
    <p><%= f.submit "Fazer Pedido", class: "btn btn-primary" %></p>
  </div><br />
<% end %>

<script src="/js/order.js" ></script>
<script >
   window.setInterval(Order.verifyBeerQuantity, 2000);
   document.getElementById("order[quantity]").onchange = Order.updatePrice;
</script>

