<p>Cerveja Escolhida: <%= @order.beer.name %> <%= @order.beer.bootle_size %> </p>
<p>Quantidade Disponível: <label id="available" ><%= @order.beer.available_quantity %></label></p>
<input type="hidden" id="beer_id" value="<%= @order.beer.id %>" />

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :customer_name, "Nome" %><br>
    <%= f.text_field :customer_name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email pessoal" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_number, "Telefone" %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :delivery_address, "Local para Entrega" %><br>
    <%= f.text_field :delivery_address %>
  </div>
  <div class="field">
    <%= f.label :quantity, "Quantidade" %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <input type="hidden" name="order_beer_id" id="order_beer_id" value="<%= @order.beer.id %>" />
  </div><br />
  <div class="actions">
    <p><%= f.submit "Fazer Pedido" %></p>
  </div><br />
<% end %>

<script src="/js/order.js" ></script>
<script >
    window.setInterval(Order.verifyBeerQuantity, 3000);

</script>

