<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Customer name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Delivery address</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Beer</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer_name %></td>
        <td><%= order.email %></td>
        <td><%= order.phone_number %></td>
        <td><%= order.delivery_address %></td>
        <td><%= order.quantity %></td>
	<td><%= order.quantity * order.beer.price %></td>
        <td><%= order.beer.name %></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
