<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-center">Novo Pedido</h3>
	</div>
	
	<div class="center-block col-xs-12 col-sm-6 col-md-6 col-lg-6 form-order" style="float: none; margin-top:15px;">
		<p id="notice"><%= notice %></p>
        
        <p id="msg1">Faça aqui o pedido da Speciality 
            <a role="button" class="btn btn-primary btn-sm active" href="/orders/beer/10">Encomendar</a>
        </p>
        <p id="msg2">Faça aqui o pedido da Praga
            <a role="button" class="btn btn-primary btn-sm active" href="/orders/beer/11">Encomendar</a>
        </p>

		<p>
		  <strong>Nome:</strong>
		  <%= @order.customer_name %>
		</p>

		<p>
		  <strong>E-mail:</strong>
		  <%= @order.email %>	
		</p>

		<p>
		  <strong>Telefone:</strong>
		  <%= @order.phone_number %>
		</p>

		<p>
		  <strong>Cerveja Escolhida:</strong>
		  <%= @order.beer.name %>
		</p>

		<p>
		  <strong>Quantidade:</strong>
		  <%= @order.quantity %>
		</p>

		<p>
		  <strong>Valor Total:</strong>
		  <%= sprintf('R$ %.2f',@order.beer.price * @order.quantity)  %>
		</p>


		
	</div>

	<footer	class="footer">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center panel-footer">
			<p>Pedidos, dúvidas, sugestões ou críticas entre em contato:</p>
			<p>brunoandrade07@gmail.com</p>
			<a role="button" class="btn btn-primary btn-sm active" href="/">Voltar</a>
		</div>
	</footer>

</div>
